In [1]:
import pandas as pd

In [3]:
#load data set
df = pd.read_csv('ecommerce_dataset_updated.csv')
print(df)

       User_ID  Product_ID        Category  Price (Rs.)  Discount (%)  \
0     337c166f  f414122f-e          Sports        36.53            15
1     d38a19bf  fde50f9c-5        Clothing       232.79            20
2     d7f5f0b0  0d96fc90-3          Sports       317.02            25
3     395d4994  964fc44b-d            Toys       173.19            25
4     a83c145c  d70e2fc6-e          Beauty       244.80            20
...        ...         ...             ...          ...           ...
3655  67abda0a  28714133-6          Beauty       486.79             0
3656  34ebc1a0  08838c2c-9            Toys       212.87            15
3657  1defd3b1  c39a4f16-6  Home & Kitchen       389.76             0
3658  0611293d  b4f67f96-9     Electronics       447.66            30
3659  e73ad07c  a5d07442-d  Home & Kitchen       235.77            30

      Final_Price(Rs.)    Payment_Method Purchase_Date
0                31.05       Net Banking    12-11-2024
1               186.23       Net Banking    09-02-2024
2               237.76       Credit Card    01-09-2024
3               129.89               UPI    01-04-2024
4               195.84       Net Banking    27-09-2024
...                ...               ...           ...
3655            486.79               UPI    14-05-2024
3656            180.94  Cash on Delivery    19-11-2024
3657            389.76       Net Banking    07-08-2024
3658            313.36               UPI    21-05-2024
3659            165.04               UPI    14-04-2024

[3660 rows x 8 columns]

In [4]:
print(df.head())

    User_ID  Product_ID  Category  Price (Rs.)  Discount (%)  \
0  337c166f  f414122f-e    Sports        36.53            15
1  d38a19bf  fde50f9c-5  Clothing       232.79            20
2  d7f5f0b0  0d96fc90-3    Sports       317.02            25
3  395d4994  964fc44b-d      Toys       173.19            25
4  a83c145c  d70e2fc6-e    Beauty       244.80            20

   Final_Price(Rs.) Payment_Method Purchase_Date
0             31.05    Net Banking    12-11-2024
1            186.23    Net Banking    09-02-2024
2            237.76    Credit Card    01-09-2024
3            129.89            UPI    01-04-2024
4            195.84    Net Banking    27-09-2024

In [5]:
print(df.sample())

       User_ID  Product_ID Category  Price (Rs.)  Discount (%)  \
2287  a69ea338  2215cddb-3    Books       368.07             5

      Final_Price(Rs.) Payment_Method Purchase_Date
2287            349.67    Credit Card    27-01-2024

In [6]:
# Standardize column names
df.columns = (
    df.columns.str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [7]:
# Convert purchase_date to datetime format
try:
    df["purchase_date"] = pd.to_datetime(df["purchase_date"], format="%d-%m-%Y")
    print("‚úÖ purchase_date converted successfully.")
except Exception as e:
    print("‚ùå Error converting purchase_date:", e)

‚úÖ purchase_date converted successfully.

In [8]:
# Feature Engineering
df["purchase_month"] = df["purchase_date"].dt.month
df["purchase_dayofweek"] = df["purchase_date"].dt.dayofweek

In [9]:
# Check for missing values
missing_summary = df.isnull().sum()
print("\nüîç Missing Values:\n", missing_summary)

üîç Missing Values:
 user_id               0
product_id            0
category              0
price_rs.             0
discount_%            0
final_pricers.        0
payment_method        0
purchase_date         0
purchase_month        0
purchase_dayofweek    0
dtype: int64

In [10]:
# Preview cleaned data
print("\nüìÑ Cleaned Data Sample:")
print(df.head())

üìÑ Cleaned Data Sample:
    user_id  product_id  category  price_rs.  discount_%  final_pricers.  \
0  337c166f  f414122f-e    Sports      36.53          15           31.05
1  d38a19bf  fde50f9c-5  Clothing     232.79          20          186.23
2  d7f5f0b0  0d96fc90-3    Sports     317.02          25          237.76
3  395d4994  964fc44b-d      Toys     173.19          25          129.89
4  a83c145c  d70e2fc6-e    Beauty     244.80          20          195.84

  payment_method purchase_date  purchase_month  purchase_dayofweek
0    Net Banking    2024-11-12              11                   1
1    Net Banking    2024-02-09               2                   4
2    Credit Card    2024-09-01               9                   6
3            UPI    2024-04-01               4                   0
4    Net Banking    2024-09-27               9                   4

In [12]:
# Save cleaned dataset
df.to_csv("cleaned_ecommerce_data.csv", index=False)
print("\n‚úÖ Cleaned dataset saved as 'cleaned_ecommerce_data.csv'")

‚úÖ Cleaned dataset saved as 'cleaned_ecommerce_data.csv'